In [11]:
#get 3rd element and 3rd element from last of a tuple

t1= input("Enter the tuple values separated by commas: ")
t2=tuple(map(int,t.split(',')))
third_element = t2[2]
third_from_last = t2[-3]

print("given tuple is:",t2)
print("3rd element:", third_element)
print("3rd element from the end:", third_from_last)

Enter the tuple values separated by commas: 1,2,3,4,5,6,7

NameError: name 't' is not defined

In [5]:
#accepts a sequence of comma-separated numbers from user and generate a tuple with those numbers and find sum of all items in tuple

user_input = input("Enter numbers separated by commas: ") 
number_s1 = user_input.split(',')
number_l1 = [int(num) for num in number_s1]
number_t1 = tuple(number_l1)
total = sum(number_t1)

print("Tuple:", number_t1)
print("Sum of all items:", total)

Enter numbers separated by commas: 1,3,7,5,9,4
Tuple: (1, 3, 7, 5, 9, 4)
Sum of all items: 29